In [1]:
import pandas as pd

In [2]:
df = pd.read_json('response_exp_json.json')

In [3]:
df

                                         OptionExpireDateResponse
ExpirationDate  [{'day': 2, 'expiryType': 'WEEKLY', 'month': 2...

In [7]:
df_normalized = pd.json_normalize(df['OptionExpireDateResponse'][0])

In [8]:
df_normalized

    day expiryType  month  year
0     2     WEEKLY      2  2024
1     9     WEEKLY      2  2024
2    16    MONTHLY      2  2024
3    23     WEEKLY      2  2024
4     1     WEEKLY      3  2024
5     8     WEEKLY      3  2024
6    15    MONTHLY      3  2024
7    19    MONTHLY      4  2024
8    17    MONTHLY      5  2024
9    21    MONTHLY      6  2024
10   19    MONTHLY      7  2024
11   20    MONTHLY      9  2024
12   20    MONTHLY     12  2024
13   17    MONTHLY      1  2025
14   20    MONTHLY      6  2025
15   19    MONTHLY     12  2025
16   16    MONTHLY      1  2026
17   18    MONTHLY      6  2026
18   18    MONTHLY     12  2026

In [9]:
df2 = pd.read_json('response_json.json')
df2_normalized = pd.json_normalize(df2['OptionChainResponse'][0])

In [10]:
df2_normalized

,Call.OptionGreeks.currentValue,Call.OptionGreeks.delta,Call.OptionGreeks.gamma,Call.OptionGreeks.iv,Call.OptionGreeks.rho,Call.OptionGreeks.theta,Call.OptionGreeks.vega,Call.adjustedFlag,Call.ask,Call.askSize,...,Put.openInterest,Put.optionCategory,Put.optionRootSymbol,Put.optionType,Put.osiKey,Put.quoteDetail,Put.strikePrice,Put.symbol,Put.timeStamp,Put.volume
0,False,1.00000,0.00000,1.87344,0.00013,0.00000,0.00000,False,85.15,53,...,143,STANDARD,TSM,PUT,TSM---240216P00045000,https://api.etrade.com/v1/market/quote/TSM:202...,45.0,TSM,1707921071,0
1,False,1.00000,0.00000,1.87344,0.00048,0.00000,0.00000,False,79.70,67,...,800,STANDARD,TSM,PUT,TSM---240216P00050000,https://api.etrade.com/v1/market/quote/TSM:202...,50.0,TSM,1707944399,0
2,False,1.00000,0.00000,1.87344,0.00090,0.00000,0.00000,False,76.05,62,...,1103,STANDARD,TSM,PUT,TSM---240216P00055000,https://api.etrade.com/v1/market/quote/TSM:202...,55.0,TSM,1707944389,0
3,False,1.00000,0.00000,1.87344,0.00124,0.00000,0.00000,False,70.05,66,...,373,STANDARD,TSM,PUT,TSM---240216P00060000,https://api.etrade.com/v1/market/quote/TSM:202...,60.0,TSM,1707944222,0
4,False,1.00000,0.00000,1.87344,0.00159,0.00000,0.00000,False,64.60,67,...,2628,STANDARD,TSM,PUT,TSM---240216P00065000,https://api.etrade.com/v1/market/quote/TSM:202...,65.0,TSM,1707921070,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,False,0.00130,0.00055,0.84642,0.00001,-0.00254,0.00039,False,0.01,1,...,0,STANDARD,TSM,PUT,TSM---240216P00155000,https://api.etrade.com/v1/market/quote/TSM:202...,155.0,TSM,1707944387,0
71,False,0.00113,0.00042,0.97926,0.00001,-0.00250,0.00034,False,0.01,7,...,0,STANDARD,TSM,PUT,TSM---240216P00160000,https://api.etrade.com/v1/market/quote/TSM:202...,160.0,TSM,1707944388,0
72,False,0.00100,0.00033,1.10632,0.00001,-0.00247,0.00030,False,0.01,8,...,0,STANDARD,TSM,PUT,TSM---240216P00165000,https://api.etrade.com/v1/market/quote/TSM:202...,165.0,TSM,1707944384,0
73,False,0.00090,0.00027,1.22815,0.00001,-0.00245,0.00027,False,0.01,11,...,0,STANDARD,TSM,PUT,TSM---240216P00170000,https://api.etrade.com/v1/market/quote/TSM:202...,170.0,TSM,1707944387,0
74,False,0.00082,0.00023,1.34535,0.00000,-0.00242,0.00025,False,0.01,1,...,0,STANDARD,TSM,PUT,TSM---240216P00175000,https://api.etrade.com/v1/market/quote/TSM:202...,175.0,TSM,1707944395,0